.loading-map {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;

}


.search-container {
    position: fixed;
    top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    left: 20px;
    padding: 5px;
    width: 250px;
    z-index: 999;

}


.poiner {
    cursor: pointer;
}




